:root {
    --c-primary-red:hsl(10, 79%, 65%);
    --c-primary-redHover:hsl(10, 79%, 75%);
    --c-primary-cyan:hsl(186, 34%, 60%);
    --c-primary-cyanHover:hsl(186, 34%, 75%);
    
    --c-neutral-darkbrown:hsl(25, 47%, 15%);
    --c-neutral-mediumbrown:hsl(28, 10%, 53%);
    --c-neutral-cream:hsl(27, 66%, 92%);
    --c-neutral-verypaleorange:hsl(33, 100%, 98%);

    --money-symbol:"$";
}

body {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--c-neutral-cream);
}

.main {
    --margin-center:15px;

    width:calc(100% - var(--margin-center) - var(--margin-center));
    max-width:540px;
    margin: 0 auto;
    margin-top:66px;
}

.main__header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--c-primary-red);
    border-radius:6px;
    padding: 20px 22px;
    margin-bottom:20px;
}

.main__balanceTitle {
    color:var(--c-neutral-verypaleorange);
}

.main__balanceTitle {
    font-weight: 100;
    font-size:16px;
    margin-bottom:10px;
}

.price--medium {
    font-size:28px;
}

/* COMPONENTS */
.price {
    font-weight: 700;  
}

.price::before {
    content:var(--money-symbol);
    text-transform:uppercase;
}

.price--clear {
    color:var(--c-neutral-verypaleorange);
}

.dashboard {
    background-color:var(--c-neutral-verypaleorange);
    padding: 30px 20px; 
    border-radius:6px;
}

.dashboard__title {
    font-weight:700;
    font-size:24px;
    margin-bottom:65px;
}

.dashboard__barchar {
    height:151px;
    margin-bottom:50px;
}

.dashboard__line {
    display:block;
    width:100%;
    height:2px;
    background-color: var(--c-neutral-cream);
    margin-bottom:25px;
}

.barchar {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    
}

.barchar__bar {
    position:relative;
    background-color: var(--c-primary-red);
    flex-basis:33px;
    border-radius:3px;
    height:0px;
    z-index:1;
}

.barchar__bar::after {
    border-radius:inherit;
    position:absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: var(--c-primary-redHover);
    opacity:0;
    transition:opacity 0.2s ease-in-out;
}

.barchar__bar.barchar--today::after {
    border-radius:inherit;
    position:absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: var(--c-primary-cyanHover);
    opacity:0;
    transition:opacity 0.2s ease-in-out;
}

.barchar__bar:hover::after {
    opacity:1;
}

.barchar__day {
    display:block;
    font-size:13px;
    color:var(--c-neutral-mediumbrown);
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%, calc(100% + 10px));
}

.barchar__price {
    position:absolute;
    left:50%;
    transform:translate(-50%, calc(-100% - 5px));
    background-color:var(--c-neutral-darkbrown);
    color:var(--c-neutral-verypaleorange);
    padding:8px;
    border-radius:4px;
    font-size:12px;
    font-weight:700;
    opacity:0;
    transition: opacity 0.2s ease-in-out;
}

.barchar__price::before {
    content:var(--money-symbol);
}

.barchar__bar:hover .barchar__price {
    opacity:1;
}

.barchar--today {
    background-color: var(--c-primary-cyan);
}

@media screen and (min-width:600px) {
    .main {
        margin-top:180px;
    }

    .main__header {
        border-radius:10px;
    }

    /* COMPONENTS */

    .dashboard {
        background-color:var(--c-neutral-verypaleorange);
        padding: 40px 40px; 
        border-radius:12px;
    }

    .dashboard__title {
        font-weight:700;
        font-size:32px;
    }

    .barchar__bar {
        flex-basis:50px;
        border-radius:6px;
    }
}